### 1.파이썬 변수와 출력

In [1]:
a = 10 # 정수를 담은 변수
print(a)

10

In [2]:
b = "hello world!!"

In [3]:
print(b)

hello world!!

In [4]:
a = "apple"
print(a)

apple

In [5]:
1+2

3

In [6]:
10/8

1.25

In [7]:
10+8
5-2

3

In [8]:
print(10+8)
print(5-2) #여러가지 결과를 보고 싶으면 print를 사용

18
3

### 2.데이터타입

In [9]:
#숫자형
a=10
b=3.14
#문자열
c='안녕하세요'
d="안녕"
#리스트 : 데이터의 변동이 가능
e=[1,2,3,4,5]
#튜플 : 데이터 변동이 불가능
f=("apple", "banana", "orange")
#딕셔너리
g={"이름":"황해도","키":180}
#집합
h=set([1,2,3])
h2=set([1,2])
print(h-h2) #차집합 연산
#논리
i=True

{3}

### 3.문자열 타입

In [10]:
s1 = "python"

#### 인덱싱과 슬라이싱
- 인덱싱 : 특정 인덱스 위치의 데이터를 가져오는 것
- 슬라이싱 : 연속적인 여러 인덱스 위치의 데이터를 가져오는 것

In [11]:
s1[1]

'y'

In [12]:
print(s1[5])
print(s1[1])
print(s1[-5])
print(s1[-1])

n
y
y
n

슬라이싱 문법
[시작인덱스 : 끝인덱스 +1]

In [13]:
print(s1[1:3]) #[시작인덱스:끝인덱스] 끝 인덱스 바로 직전까지만 갖고 옴. 그러므로 1-4로 해야 yth가 나옴
print(s1[1:4])

yt
yth

#### [:끝인덱스+1]

:처음부터 끝인덱스 위치까지 슬라이싱

In [14]:
print(s1[:3])

pyt

[시작인덱스:]  시작인덱스부터 끝까지 슬라이싱

In [15]:
print(s1[2:])

thon

[:] 처음부터 끝까지 슬라이싱

In [16]:
print(s1[:])

python

### 4. 이스케이프 코드
-프로그래밍할때 사용할 수 있도록 미리 정의해둔 문자조합

In [17]:
print("안녕하세요\n저는 황해도입니다.") #\n 줄바꿈

안녕하세요
저는 황해도입니다.

In [18]:
print("사과\t배\t바나나") # \t 탭

사과	배	바나나

In [19]:
print("선생님이 나에게 \"안녕하세요\"라고 말했다.") # \" 큰 따옴표 넣기

선생님이 나에게 "안녕하세요"라고 말했다.

In [20]:
'''
안녕하세요
저는 황해도입니다.
'''

'\n안녕하세요\n저는 황해도입니다.\n'

In [21]:
"""
오늘 점심은 
뭘까요?
"""

'\n오늘 점심은 \n뭘까요?\n'

In [22]:
s="20010331Rainy"
year=s[0:4]
day=s[4:8]
weather=s[8:]
print("year :" +year)
print("day :" +day)
print("weather :"+weather)

year :2001
day :0331
weather :Rainy

### 5.문자열 포멧팅
-문자열에서 변하는 값들을 연결할때 사용하는 문법

In [23]:
name = "황해도"
height = "180"
weight ="75"

In [24]:
print("이름 : %s, 키 : %s, 몸무게 : %s" %(name,height,weight))

이름 : 황해도, 키 : 180, 몸무게 : 75

In [25]:
num = 10
pie =3.14
print("정수 : %d, 실수 %f" %(num, pie))

정수 : 10, 실수 3.140000

In [26]:
# f포멧팅
print(f"정수 : {num} 실수 : {pie}")

정수 : 10 실수 : 3.14

### 문자열 함수

In [27]:
str1 = "apple apple orange apple"
str1.count("apple")

3

In [28]:
str1.find("orange")

12

In [29]:
str1.find("banana")

-1

In [30]:
str2="Apple is"
str2.lower()

'apple is'

In [31]:
str3="  너무너무 배고파요 밥 주세요  "

In [32]:
print(str3)
print(str3.strip())

  너무너무 배고파요 밥 주세요
너무너무 배고파요 밥 주세요

In [34]:
print(str3.replace("밥","간식"))
print(str3)

  너무너무 배고파요 간식 주세요
  너무너무 배고파요 밥 주세요

In [35]:
str3 = str3.replace("밥","간식")
print(str3)

  너무너무 배고파요 간식 주세요

In [37]:
str4 = "쿠키, 사이다, 콜라, 피자"
result = str4.split(",")
print(result)

['쿠키', ' 사이다', ' 콜라', ' 피자']

### 6. 연산자

In [1]:
# 산술 연산자
num1 = 10
num2 = 3
print(num1/num2) # 실제 나눗셈
print(num1 % num2) # 나머지
print(num1 // num2) # 몫

3.3333333333333335
1
3

In [2]:
# 지수 연산자
print(2 ** 3) #2x2x2
print(3 ** 3) #3x3x3

8
27

In [3]:
# 비교 연산자
print(2==3)
print(10>7)

False
True

In [4]:
# 논리 연산자
print(True and False)
print(True or False)
print(not True)

False
True
False

In [9]:
# 1-5. 산술 연산자 예제
num1 =7
num2 =3
a = num1 + num2
b = num1 - num2
c = num1 * num2
d = num1 / num2
print(f"더하기 결과:{a} 빼기 결과 :{b} 곱하기 결과:{c} 나누기 결과:{d}")

print(f"더하기 결과:{a}")
print(f"빼기 결과:{b}")
print(f"곱하기 결과:{c}")
print(f"나누기 결과:{d}")

더하기 결과:10 빼기 결과 :4 곱하기 결과:21 나누기 결과:2.3333333333333335
더하기 결과:10
빼기 결과:4
곱하기 결과:21
나누기 결과:2.3333333333333335

In [13]:
# 1-6 산술 연산자 예제
# 변수 num 값 중에서 백의 자리 이하를 버리는 코드이다. 만일 변수 num의 값이 456이라면 400이 되고, 111이라면 100이 된다.

num = 456
print(f"결과 확인: {num-num%100}")

num = 111
print(f"결과 확인: {num-num%100}")

결과 확인: 400
결과 확인: 100

In [16]:
# input 사용하기
name = input("이름을 입력하세요 : ")
print(name)

이름을 입력하세요 : 황해도
황해도

In [17]:
age = input("나이 입력 :")
type(age) # 데이터 타입확인

나이 입력 :10

str

In [18]:
num = input("숫자 입력 :")
print(type(num))
num_int = int(num)
print(type(num_int))

숫자 입력 :10
<class 'str'>
<class 'int'>

In [21]:
num1 = int(input("정수 입력:"))
num2 = int(input("지수 입력:"))
print(f"{num1}의 {num2}승은 {num1 ** num2}입니다.")

정수 입력:2
지수 입력:3
2의 3승은 8입니다.

In [25]:
# 삼항연산자 예제
#농구공을 담기 위해 필요한 상자의 개수를 구하시오. 
#상자 하나에는 농구공이 5개 들어갈 수 있다. 만일 농구공이 23개라면 필요한 상자의 개수는 5개입니다.

num1=int(input("농구공 :"))
num2 =5
num3 = num1/num2
[num3+1]if [num1%num2>0] else [num3]

print(f"필요한 상자의 수 : {num3}")

## 선생님 풀이법
b = int(input("농구공 갯수 입력 :"))
box = b//5 if b%5==0 else b//5+1
print(f"필요한 박스 갯수 : {box}")

농구공 :23
필요한 상자의 수 : 4.6
농구공 갯수 입력 :33
필요한 박스 갯수 : 7

In [34]:
# 정수를 입력받아 양수, 음수0을 판별하여 다음과 같이 출력하시오. 

a = int(input("정수 입력:"))
if a>0: # 양수
    print(f"{a} 양수입니다.")
elif a == 0: # 0
    print(f"{a} 입니다.")
else: # 음수
    print(f"{a} 음수입니다.")

정수 입력:-10
-10 음수입니다.

In [42]:
# 정보처리기사의 각 과목의 정답개수를 int형 타입의 변수 5개를 선언하고 입력
# 한 과목이라도 8개 미만인 경우, 불합격
# 총개수가60개 이상이면 합격입니다. 

a = int(input("DB:"))
b = int(input("전자계산기구조:"))
c = int(input("OS:"))
d = int(input("데이터통신:"))
e = int(input("소프트웨어공학:"))
sum = a+b+c+d+e
if a or b or c or d or e <8: # a<8 and b<8 and c<8 and d<8 and e<8
    print("불합격입니다.")
elif sum>= 60:
    print("합격입니다.")

DB:12
전자계산기구조:14
OS:13
데이터통신:13
소프트웨어공학:13
불합격입니다.

In [43]:
# 선생님 풀이
a = int(input("DB:"))
b = int(input("전자계산기구조:"))
c = int(input("OS:"))
d = int(input("데이터통신:"))
e = int(input("소프트웨어공학:"))

result = a+b+c+d+e # result가 60개 이상 합격
if result>= 60 and a>=8 and b>=8 and c>=8 and d>=8 and e>=8 :
    print("합격입니다.")
else :
    print("불합격입니다.")

DB:12
전자계산기구조:12
OS:12
데이터통신:12
소프트웨어공학:12
합격입니다.

### 7. in, not in
-문자열, 리스트, 튜플 등 여러개가 묶인 데이터에 특정 데이터가 존재하는지 확인하는 연산

In [45]:
str1 = "오늘 4교시는 프리트레이닝을 보는 시간입니다."
print("오늘" in str1)
print("사과" not in str1)

True
True

In [46]:
tmp_list = [1, 10, '사과', "apple", 3.14]

In [48]:
print(10 in tmp_list)

True

In [50]:
# 조건문과 함께 사용하기
if "사과" in tmp_list:
    print('들어있습니다.')

들어있습니다.

In [51]:
name = ["황해도","한수진","강성관","박병관"]
input_name = input("검색할 이름을 입력해주세요>>")
if input_name in name:
    print("검색성공")
else :
    print("검색실패")

검색할 이름을 입력해주세요>>황해도
검색성공

In [63]:
# 다음과 같이 문자열에 사용자가 입력한 글자가 몇 개 포함되어 있는지 출력하시오. 
s = "Hi, My name is Mihee"
input_s = input("검색할 문자를 입력해주세요>>")
a = s.count(input_s)
if input_s in s :
    print(f"'{input_s}'는 {a} 번 들어 있습니다.")
else :
    print(f"'{input_s}'는 문자열에 들어있지 않습니다.")

검색할 문자를 입력해주세요>>i
'i'는 3 번 들어 있습니다.

In [61]:
# 선생님 풀이법

s = "Hi, My name is Mihee"
print("*"*30)
text = input("검색할 문자를 입력해주세요>>")
if text in s :
    print(f"\'{text}\'는 {s.count(text)} 번 들어 있습니다.")
else :
    print(f"\'{text}\'는 문자열에 들어있지 않습니다.")
print("*"*30)

******************************
검색할 문자를 입력해주세요>>i
'i'는 3 번 들어 있습니다.
******************************