### 1.리스트 생성하기

In [4]:
a = []
b = [1,2,3]
c = ['apple', 'banana']
d = [1,3.14,'orange']
e = [1,2,[3,4,5]]
f = ["a", "b", "c",[1,2,["d","e"]]]

### 2. 인덱싱, 슬라이싱

In [7]:
# 인덱싱
print(c[1])
print(c[-1])
print(e[2][1])
print(f[3][2][0])

#슬라이싱
print(f[1:3])

banana
banana
4
d
['b', 'c']

### 3. 리스트 길이 확인
-len() : 리스트, 튜플, 문자열 등 묶여 있는 데이터의 길이를 확인

In [13]:
print(len(f))
print(len("abced"))
print(len((1,2,3,4,5,6)))

4
5
6

### 4. 리스트 연산
-더하기, 곱하기

In [15]:
#더하기
list1 = [1,2,3]
list2 = [4,5,6,7]
list1 + list2

[1, 2, 3, 4, 5, 6, 7]

In [16]:
#곱하기
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 5. 리스트 데이터 수정, 삭제, 추가

In [18]:
list3 = ['a','b',1,2,3]
# 수정
list3[2] = 5

print(list3)

list3[1:3] =[6,7]
print(list3)

['a', 'b', 5, 2, 3]
['a', 6, 7, 2, 3]

In [19]:
# 삭제
del list3[0]
print(list3)

[6, 7, 2, 3]

In [21]:
list3[:2] = []
print(list3)

[2, 3]

In [22]:
# 추가
list3.append("orange") # 맨 뒤에 추가

In [23]:
print(list3)

[2, 3, 'orange']

In [25]:
list3.insert(1,"banana") #원하는 위치에 추가

In [26]:
print(list3)

[2, 'banana', 3, 'orange']

### 6. 그외 추가기능

In [27]:
# 정렬
list4 = [10,9,56,7,100,96]
list4.sort()

In [28]:
print(list4) # 오름차순 정렬

[10, 9, 56, 7, 100, 96]

In [29]:
list4.sort(reverse=True)

In [30]:
print(list4) # 내림차순 정렬

[100, 96, 56, 10, 9, 7]

In [31]:
# 뒤집기
list5 = ["a",1,"c",[1,2]]
list5.reverse()

In [32]:
print(list5)

[[1, 2], 'c', 1, 'a']

In [35]:
# 원하는 데이터 위치 찾기
print(list5.index('c'))
print(list5.index('a'))

1
3

In [36]:
# 리스트에서 원하는 데이터를 추출
print(list5.pop())

a

In [37]:
print(list5)

[[1, 2], 'c', 1]

In [38]:
print(list5.pop())

1

In [39]:
print(list5)

[[1, 2], 'c']

In [40]:
print(list5.pop(0)) # 원하는 위치의 데이터 추출
print(list5)

[1, 2]
['c']

In [41]:
list5.remove('c') # 데이터 값으로 삭제

In [42]:
print(list5)

[]

### 7. 튜플
- 리스트는 값의 추가, 수정, 삭제가 가능
- 튜플은 변경이 불가능

In [44]:
# 튜플 생성
a = (1,4,5,6,'a',(7,8))
b = ("apple", "banana")

In [45]:
# 튜플 연산
a + b

(1, 4, 5, 6, 'a', (7, 8), 'apple', 'banana')

In [46]:
b * 3

('apple', 'banana', 'apple', 'banana', 'apple', 'banana')

In [49]:
# 인덱싱 슬라이싱
print(a[0])
print(b[-2:])

1
('apple', 'banana')

In [50]:
# 데이터 삭제/수정
del a[1]

TypeError: 'tuple' object doesn't support item deletion

In [51]:
b[3] = 'bb'

TypeError: 'tuple' object does not support item assignment